body {
    margin: 0;
    padding: 0;
}
.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 19fr;
}

.side-nav {
    border: 2px solid black;
    grid-column: 1;
    text-align: center;
    padding: 1rem;

}
.main {
    border: 2px solid black;
    grid-column: 2;
    text-align: center;
    display: grid;
}
.nav-menu {
    border: 2px solid black;
    padding: 0;    
    list-style-type: none;
    text-align: start;
    line-height: 2rem;
}
.social-links {
    border: 2px solid black;
    padding: 0;    
    list-style-type: none;
    text-align: start;
    line-height: 2rem;
    position: absolute;
    bottom: 1rem;
}
.section-title {
    text-decoration: underline;
    margin-top: 0.25rem;
}
.main section {
    border: 2px dotted blue;
}
section div {
    border: 2px dotted green;
}
/*about starts here*/
#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*education starts here*/
#education {
}
.edu-background {
    list-style-type: none;

}
/*project starts here*/
#projects {

}
.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

